* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 50vh;

  background-color: rgb(236, 236, 236);

  /* border: solid thin rgb(48, 0, 180); */
}

.title {
  padding-left: 2vw;
  width: 100vw;
  max-height: 10vh;

  /* border: solid thin rgb(48, 0, 180); */
}

.article {
  background-color: rgb(255, 255, 255);
  width: 23%;
  height: auto;

  /* border: solid thin rgb(180, 0, 30); */
}

/* .article:hover {
  border-bottom: 5px solid red;

  /* border: solid thin rgb(180, 0, 30); */
} */

.article:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #790000;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.article:hover:before, .article:focus:before, .article:active:before {
  left: 0;
  right: 0;
}

img {
  width: 100%;
}

h2,
p {
  margin: 10px;

  /* border: solid thin rgb(180, 0, 30); */
}
