* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: rgb(236, 236, 236);
  padding-bottom: 20px;

  /* border: solid thin rgb(48, 0, 180); */
}

.sectionTitle {
  padding-left: 20px;
  width: 100vw;
}

.article {
  background-color: rgb(255, 255, 255);
  width: 23%;
  height: auto;

  /* border: solid thin rgb(180, 0, 30); */
}

img {
  max-width: 100%;
}

h2, p {
  margin: 10px;

  /* border: solid thin rgb(180, 0, 30); */
}
